body {
	background-color: rgb(255, 255, 255);
	color: black ;
}

.titre {
	text-align: center;
	padding: 5px;
}

input, select, button {
	margin: 10px;
	width: 100%;
}

.centre {
	text-align: center;
}
